---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
import { getCollection } from "astro:content";
const allPosts = await getCollection("blog");
const pageTitle: string = "博客页";
---

<BaseLayout pageTitle={pageTitle}>
  <h1>我放了一些图片</h1>
  <h2>一些非常好看的风景!</h2>
  <img
    src="https://images.pexels.com/photos/29902414/pexels-photo-29902414.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
    alt=""
  />
  <ul>
    {
      allPosts.map((post: any) => (
        <BlogPost url={`/posts/${post.id}/`} title={post.data.title} />
      ))
    }
  </ul>
</BaseLayout>
