---
import "../styles/global.css";

const pageTitle: string = "博客页";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <h1>这是个{pageTitle}面</h1>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
    <h1>我放了一些图片</h1>
    <h2>一些非常好看的风景!</h2>
    <img
      src="https://images.pexels.com/photos/29902414/pexels-photo-29902414.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
      alt=""
    />
    <ul>
      <li><a href="/posts/post-1/">文章 1</a></li>
      <li><a href="/posts/post-2/">文章 2</a></li>
      <li><a href="/posts/post-3/">文章 3</a></li>
      <li><a href="/posts/post-4/">文章 4</a></li>
    </ul>
  </body>
</html>
