---
import "../styles/global.css";

const pageTitle: string = "这是首页";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <a href="/">{pageTitle}</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
    <h1>About Me</h1>
    <h2>... and my new Astro site!</h2>
    <h1>这是第一次接触Astro</h1>
    <p>I feel its amazing!</p>
    <img
      src="https://images.pexels.com/photos/31618714/pexels-photo-31618714.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
      alt=""
    />
  </body>
</html>
